{% extends "public/templates/public_template.html" %}


{% block title %}Profile{% endblock %}

{% block main %}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Profile</h1>
            
                <!-- fixed* ADD FUNCTIONALITY TO DELETE BUTTON (POST REQUEST TO NEW PAGE) -->
                <!-- add function inside action "" -->
                <form action="/deleteuser" method="POST">
                    <!-- passes value of user id as a post request to deleteuser view -->
                <input class="form-control" type="hidden" name="id" value="{{ user[1] }}">

                <button type="submit" class="btn btn-primary">Delete User</button>
                </form>
                

            <hr>

            <div class="card">
                <div class="card-body">
                    {% if user %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th title="Username">Username</th>
                                <th title="ID">ID</th>
                                <th title="ARN ID">ARN ID</th>
                                <th title="Date Created">Date Created</th>
                                <th title="User Group">Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ user[0] }}
                                </td>
                                <td>
                                    {{ user[1] }}
                                </td>
                                <td>
                                    {{ user[2] }}
                                </td>
                                <td>
                                    {{ user[3] }}
                                </td>
                                <td>
                                    {{ user[4] }}
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    {% else %}
                    <p>User not found</p>
                    {% endif %}

                </div>
            </div>




        </div>
    </div>
</div>



{% endblock %}